$navbar-height: 4rem;

.navbar-global-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: $navbar-height;
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--foreground);
  position: fixed;
  top: 0rem;
  height: $navbar-height;
  transition: top 0.2s;

  &.hidden {
    top: -$navbar-height;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    max-height: $navbar-height;
    gap: 2rem;
  }
}