$navbar-height: 4rem;

.navbar-global-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: $navbar-height;
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: grey;
  position: fixed;
  top: 0rem;
  height: $navbar-height;
  transition: top 0.2s;

  &.hidden {
    top: -$navbar-height;
  }


  .group {
    display: flex;
    gap: 1rem;
  }
}