:root {
  /* Your default theme */
  --background: white;
  --foreground: beige;
  --foreground-translucent: rgba(245, 245, 220, 0.75);

  --primary: blue;
  --primary-dark: darkblue;
  --primary-light: lightblue;

  --neutral-light: lightgrey;
  --neutral-mid: grey;
  --neutral-dark: darkgrey;

  --text-body: black;
  --text-heading: black;
}

[data-theme='dark'] {
  --background: #000D18;
  --foreground: rgb(2, 17, 31);
  --foreground-translucent: rgba(2, 17, 31, 0.75);

  --primary: #DBFFF8;
  --primary-dark: #AFC6C2;
  --primary-light: #F1FFFC;

  --neutral-light: lightgrey;
  --neutral-mid: grey;
  --neutral-dark: darkgrey;

  --text-body: #FFFFFF;
  --text-heading: #DBFFF8;
}

body {
  padding: 0;
  margin: 0;
}