:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --primary: blue;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --primary: pink;

}

body {
  padding: 0;
  margin: 0;
}