.nav-menu-root {
  background-color: var(--foreground-translucent);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 4rem;
  left: 0vw;
  transition: left 0.4s;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  &.hidden {
    left: 100vw;
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    max-width: var(--max-article-width);
    padding: 4rem;

    .menu-link-wrapper {
      display: flex;
      justify-content: center;
      width: 95%;
      padding: 0;
      margin: 0;

      .menu-link {
        width: 100%;
        border: 1px solid var(--primary);
        border-radius: var(--radius);
        padding: 1.5rem;
        margin: 0;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--invisible);
        transition: all 0.5s;

        &:hover {
          background-color: var(--background);
          box-shadow: inset 0 0 4px 0 var(--primary);
        }
      }
    }

    .article-showcase-container {
      width: 95%;
      border: 1px solid var(--primary);
      border-radius: var(--radius);
      margin: 0 0 2rem 0;
      text-decoration: none;
      color: var(--primary);
      background-color: var(--invisible);
      cursor: pointer;
      transition: all 0.5s;
    
      &:hover {
        background-color: var(--background);
        box-shadow: inset 0 0 4px 0 var(--primary);
      }

      .info-container {
        padding: 0.5rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        .title {
          font-size: 1.25rem;
          font-weight: 600;
          text-align: center;
        }
        .date-text {
          color: var(--neutral-dark);
          font-size: 0.75rem;
          text-align: center;
        }
      }

      .scrolling-subtitle {
        height: 2rem;
        background-color: var(--primary);
        overflow: hidden;
        position: relative;
        border-radius: var(--radius) var(--radius) 0 0;
        border: 1px solid var(--primary);
        p {
          text-transform: capitalize;
          text-wrap: nowrap;
          white-space: preserve nowrap;
          margin: 0;
          padding: 0;
          font-size: 0.75rem;
          font-weight: 600;
          line-height: 2rem;
          color: var(--background);
          animation: scrollLeft 60s linear infinite;
        }

        @keyframes scrollLeft {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-200rem);
          }
        }
      }
    }
  }
}

.toggle-icon {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  transition: all 0.25s;

  &.hover {
    gap: 0.4rem;
  }

  .line {
    width: 1.5rem;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--primary);
    transition: width 0.5s;

    &.toggle2 {
      width: 1rem
    }

    &.toggle3 {
      width: 0.5rem
    }
  }
}