.nav-menu-root {
  background-color: var(--foreground-translucent);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 4rem;
  left: 0vw;
  transition: left 0.4s;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  &.hidden {
    left: 100vw;
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--max-article-width);
    padding: 4rem;

    .menu-link-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem;

      .menu-link {
        width: 100%;
        border: 1px solid var(--primary);
        border-radius: var(--radius);
        padding: 1.5rem;
        margin: 0;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--invisible);
        transition: all 0.5s;

        &:hover {
          background-color: var(--background);
          box-shadow: inset 0 0 4px 0 var(--primary);
        }
      }
    }
  }
}

.toggle-icon {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  transition: all 0.25s;

  &.hover {
    gap: 0.4rem;
  }

  .line {
    width: 1.5rem;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--primary);
    transition: width 0.5s;

    &.toggle2 {
      width: 1rem
    }

    &.toggle3 {
      width: 0.5rem
    }
  }
}